<footer class="footer-container">

    <div class="footer">
        <span class="about">
            About
        </span>
        |
        <div class="contactus">
            Contact Us
        </div>
    </div>
    <div class="last-line">
        <img class="footer-logo" src="./assets/quantum screen assets/icons/logo used in footer.svg"
            alt="Quantum logo" />
        <p class="pipe"></p>
        <p class="copyright f1">Copyright © 2020-2021</p>
        <p class="zeus f1">Zeus Systems Pvt. Ltd.</p>
        <p class="rights f1">All rights reserved.</p>


    </div>
</footer>