<!-- <div class="JobContainer">
    <div class="JobTitle">

    </div>
    <div class="JobDateLocationContainer">
        <div class="JobDate">
            <label for="JobDateTime" class="JobDateLabel">Date & Time :</label>
            <div class="JobDateTime"></div>
        </div>
        <div class="JobLocation"></div>
    </div>
    <div class="DividingLine"></div>
    <div class="JobRoleContainer">
        <label class="JobRoleLabel">Job Roles :</label>
        <div class="JobRole">
            <img src="" class="JobRoleImage" alt="" />
            <div class="JobRoleName"></div>
        </div>
    </div>
    <div class="buttonContainer">
        <button type="button" class="viewbtn">
            VIEW MORE DETAILS
        </button>
    </div>
    <div class="expireDate">Expire in days</div>
</div> -->
<div class="JobContainer"></div>